
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Bitter', 'Heiti SC', 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #222;
    font-weight: 400;
    height: 100%;
    min-width: 650px;
    background:url(../../images/bg.jpg);
    overflow-x: hidden;
    white-space: nowrap;
}

/*
    default
    blog-contain
*/
#blog-contain{
    width:100%;
    min-height: 960px;
    position: relative;
}

/*
    index&post
    main-contain
*/
#main-contain{
    width:60%;
    margin: 10px auto;
}
@media (max-width: 960px) {
    #main-contain {
        width: 100%;
        overflow: visible;
    }
}
/*
    index&post
    article
*/
article{
    vertical-align: top;
    height: 100%;
    white-space: normal;
    width: 75%;
    display: inline-block;
    position: relative;
    background: #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px #666;
}
article .container {
    padding:20px 20px 10px;
    width: 100%;
}
@media (max-width: 960px) {
    article {
        display: block;
    }
    article .container {
        padding: 25px;
    }
}
@media (max-width: 960px) {
    article {
        width: 100%;
        overflow: visible;
    }
    article .container {
        padding: 50px !important;
    }
}
article p {
    margin-bottom: 1em;
}
article li {
    margin-left: 3em;
    margin-bottom: 9px;
    list-style-type: disc;
}

@media (max-width: 960px) {
    article li {
        margin-left: 2em;

        margin-bottom: 5px;
        margin-top: 10px;
    }
}
article a:link,a:visited {
    color: #CE2323;
    text-decoration: none;
}
article a:hover,a:active {
    text-decoration: none;
}
article h1{
    font-size: 1.8em;
    text-align: center;
    color:#00688B;
}
article h2{
    font-size: 1.2em;
    margin: 20px 0;
    color:#104954;
}
article h3{
    color: #000;
}
article h4{
    display: block;
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 600;
    color: #CE2323;
}
article b{
    display: block;
    font-size: 1em;
    margin: 15px 0;
    font-weight: 600;
    color: #CE2323;
}
article code{
    background-color: #FAEDED;
    border-radius: 3px;
    padding: 1px 5px;
    margin: 0 3px;
    color: #CE2323;
    font-family: "consolas", 'Heiti SC', sans-serif;
}
article time{
    font-size: 1.2em;
    padding: 5px;
    font-weight: 600;
    display: block;
}
section {
    font-family: 'Heiti SC', 'Microsoft YaHei', sans-serif;
}

article .post-comment{
    margin-top: 80px;
}
.post-comment span{
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 5px solid #CE2323;
}

/* paginator */
.paginator{
    text-align: center;
    padding:20px 0;
    border-top: 1px solid #fff;
}
.paginator a{
    margin: 0 15px;
    font-weight: 600;
    color:#9F79EE!important;
}
.paginator a:hover{
    color:#9400D3!important;
}


/* 
    index&post
    post
*/
article ul{
    margin-top: 20px;

}
ul.posts li {
    list-style: none;
    margin: 0 2em 20px;
    display: block;
    background: #458B74;
    padding:4px 40px;
    border-radius: 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
ul.posts li:hover {
    padding-left: 30px;
    border-left: 15px solid #CE2323;

    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
ul.posts li a{
    outline: none;
}
ul.posts .date {
    display: block;
    margin: 2px 0;
    color: #8d8d8d;
}
ul.posts h2{
    margin-top: 10px;
    margin-bottom: 5px;
}
ul.posts h3 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul.posts p {
    margin: 5px 0;
}
.post-date{
    text-align: right;
}


/* header */
header{
    padding: 4px 0;
    background:#fbfbfb;
    font-size: 1.4em;
    box-shadow: 0 2px 5px #ccc;
    vertical-align: top;
    height: 100%;
    white-space: normal;
}
.header-container{
    width:60%;
    margin: 0px auto; 
}
.phone-info,.more-info{
    display: inline-block;
}
.phone-info span {
  color: #5cb48e;
}
@media screen and (max-width: 992px) {
  .phone-info {
    text-align: left;
  }
}
.more-info {
  float: right;
}
.more-info a {
  color: white;
}
.more-info li {
  display: inline-block;
  margin-left: 15px;
}
@media screen and (max-width: 992px) {
  .more-info {
    text-align: center;
    margin-top: 20px;
  }
  .more-info li:first-child {
    margin-left: 0;
  }
}

header ul.meta {
    margin-top: 45px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    header ul.meta {
        margin-top: 10px;
    }
}

#home-header ul.meta {
    margin-top: 15px;
}

header ul.meta li {
    display: inline-block;
    margin-right: 25px;
    line-height: 30px;
    color: #fff;
}

header ul.meta li span {
    margin-right: 10px;
    font-style: italic;
    color: rgba(255, 255, 255, .5);
}

/*footer */
footer{
  width:100%;
  height: 100%;
  display: block;
  padding: 2px 0;
  background:#fbfbfb;
  box-shadow: 0 -2px 5px #ccc;
}
.footer-container{
    width:60%;
    margin: 0 auto;
    text-align: center;
}
.right-info,.contact-info{
    display: inline-block;
}
.right-info{
    float: left;
}
.right-info span {
  color: #104954;
}
@media screen and (max-width: 992px) {
  .right-info {
    text-align: left;
  }
}
.contact-info a {
  color: white!important;
}
.contact-info li {
  display: inline-block;
  font-size: 1.2em;
}


/*gategory*/
.gategory-menu{
    width:25%;
    display: inline-block;
    border-radius: 10px;
    background: #ccc;
    box-shadow: 0 2px 5px #666;
    color: #333;
}
.gategory-content{
    padding: 20px 0;
}

.gategory-content h3{
    margin: 0;
    line-height: 2.4em;
    color: #104954;
    text-align: center;
}
.gategory-content ul{
    font-variant: small-caps;
}
.gategory-content li{
    list-style: none;
    display: block;
    position: relative;
    padding: 6px 25px;
    border-radius: 5px;
    margin: 10px 18%;
    line-height: 1.3em;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;

    cursor: pointer;
}
.gategory-content li:hover{
    
    background-color: #CE2323;
    color: #FFF;
}
.gategory-content li:hover span{
    color: #FFF;
}
.gategory-content li span{
    position: absolute;
    right:0px;
    width: 22px;
    line-height: 1.3em;
    text-align: center;
    border-radius: 11px;
    background-color: #CE2323;
    color: #FFF;
}
#gategoryShow:hover {
    background-position:0 -40px;
}



/*catalog*/

/* weixin */
.weixin{
    position: fixed;
    right:0;
    top:0;
}
.weixin img{
    height:100px;
    width:100px;
}

/*highlight*/
.hljs {
    width: 96%; 

    font-size: 1em;
    line-height: 20px;
    font-family: 'Consolas', 'Lucida Grande', arial, sans-serif;
    padding: 20px;

    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #8B5F65;
    background-color: #EAEAEA;

    white-space: pre-wrap; 
    word-wrap:break-word; 
    word-break:break-all;

}


/*comment*/
.ds-thread{
    margin-bottom: 40px;
    border-radius: 5px;
}

.ds-thread .ds-sync,.ds-meta{
    display: none !important;
}

.ds-thread .ds-comments-tab-duoshuo{
    border: none !important;
    background: none !important;
}

.ds-thread .ds-avatar img {
    margin-top: 12% !important;
    margin-left: 6% !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 40px !important;
    border: 6px solid #FFF !important;
    box-shadow: 3px 2px 1px #CE2323 !important;
}

.ds-post-self .ds-avatar img {
    margin-top: 12% !important;
    margin-left: 20% !important;
}

.ds-comment-body .ds-comment-header{
    padding-top: 6px !important;
}

.ds-comment-body .ds-comment-header a:link,a:visited,a:active,a:hover{
    color: #CE2323 !important;
}

.ds-comment-body .ds-comment-footer{
    padding-top: 15px !important;
    margin-left: -100px !important;
    text-align: right !important;
}

.ds-thread .ds-comment-body{
    padding: 20px 0 20px 110px !important;
}

.ds-thread .ds-replybox{
    padding: 20px 0 20px 100px !important;
    margin: 10px !important;
    box-shadow: 2px 2px 5px #000 !important;
}

.ds-replybox .ds-post-button{
    margin-right: 20px !important;
    width: 80px !important;
    background-color: #555 !important;
}

.ds-replybox .ds-post-button:hover{
    margin-right: 20px !important;
    width: 80px !important;
    background-color: #CE2323 !important;
}

.ds-thread .ds-comment-body{
    box-shadow: 2px 2px 5px #000 !important;
}

.ds-replybox .ds-textarea-wrapper{
    height: 70px !important;
}
.ds-replybox .ds-textarea-wrapper,.ds-post-options{
    border: none !important;
    background: none !important;
} 

/* 回到顶部 */
 #returnTop {
    position: fixed;
    right: 40px;
    bottom: -200px;
    width:28px;
    height:64px;
    color: #FFF;

    background-image: url(../../images/top.png);
    _background-image: url(../../images/top.png);

    overflow:hidden;
    background-repeat:no-repeat;
    background-position:0 0;
    transition:bottom 0.9s;
    -webkit-transition:bottom 0.9s;
    -moz-transition:bottom 0.9s;
    -o-transition:bottom 0.9s;

    cursor: pointer;
}

#returnTop:hover {
    background-position:-28px 0px;
}

@media (max-width: 960px){
    #returnTop {
        position: fixed;
        right: 9px;
    }
}

/*目录生成插件toc*/
#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}