body {
    font-family:"Microsoft YaHei",arial, sans-serif;
    font-size: 100%;
    background: #ffffff;
    color:#555555;
    background: -webkit-linear-gradient(90deg, #9bd 10%, #e85 90%); 
    background:    -moz-linear-gradient(90deg, #9bd 10%, #e85 90%); 
    background:     -ms-linear-gradient(90deg, #9bd 10%, #e85 90%); 
    background:      -o-linear-gradient(90deg, #9bd 10%, #e85 90%); 
    background:         linear-gradient(90deg, #9bd 10%, #e85 90%); 
}
.wrap{
    margin:0 auto;
    width:80%;

}
.container{
    margin: 20px auto;
    width:90%;
}

/* home start */
.home{
    margin: 200px auto;
}

.home h3{
    color:#3c4761;
    text-align:center;
    font-weight:600; 
    padding-top: 1em;
}
.circle-parent{
    text-align: center;
}
.grid-1{
    display: inline-block;
}
.circle{
    display: inline-block;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 20px;
}
.home h1{
    padding-top: 40px;
    font-size: 2.4em;
    font-family:"Consolas",arial, sans-serif; 
    color:#da5a41!important;
    text-align:center;
    letter-spacing:5px;
    color:#3c4761;
} 
.home h4{
    padding-top: 40px;
    font-size: 1.6em;
    font-family:"Consolas",arial, sans-serif; 
    color:#9d6212!important;
    text-align:center;
    letter-spacing:5px;
    color:#3c4761;
}
/* home end */

/*blog start*/
h1{
    font-size: 1.8em;
    color:#00688B;
    margin: 10px 0; 
}
h2{
    font-size: 1.6em;
    margin: 10px 0;
    color:#104954;
    margin: 10px 0; 
}
h3{
    font-size: 1.4em;
    color: #CE2323;
    margin: 10px 0; 
}
h4{
    display: block;
    font-size: 1.2em;
    color:#104954;
    margin: 10px 0;   
}
h5{
    display: block;
    font-size: 1em;
    font-weight: normal;
    color:#222;
    margin: 10px 0; 
}
/* blog cate start*/
.cate-content{
    width: 90%;
    margin: 60px auto; 
}
.cate-posts{
    margin-top:40px;
    vertical-align: top;
    height: 100%;
    width: 75%;
    white-space: normal;
    display: inline-block;
    background: #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 5px #666;
}
.cate-posts .title{
    text-align: center;
}
.cate-posts ul.posts li {
    list-style: none;
    margin: 0 2em 20px;
    display: block;
    background: #458b74;
    padding:4px 40px;
    border-radius: 6px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.cate-posts ul.posts li:hover {
    padding-left: 30px;
    border-left: 15px solid #CE2323;

    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

/*blog cate end*/

/*gategory start*/
.category{
    margin-top: 40px;
    min-width: 200px;
    display: inline-block;
    border-radius: 6px;
    background: #ccc;
    box-shadow: 0 2px 5px #666;
    color: #333;
}
.category h3{
    margin: 0;
    line-height: 2.4em;
    color: #104954;
    text-align: center;
}
.category ul{
    font-variant: small-caps;
}
.category li{
    list-style: none;
    display: block;
    position: relative;
    padding: 6px 25px 6px 8px;
    border-radius: 5px;
    margin: 10px 20px;
    line-height: 1.3em;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;

    cursor: pointer;
}
.category li:hover{
    
    background-color: #CE2323;
    color: #FFF;
}
.category li:hover span{
    color: #FFF;
}
.category li span{
    position: absolute;
    margin-left:40px;
    right:0px;
    width: 22px;
    line-height: 1.3em;
    text-align: center;
    border-radius: 11px;
    background-color: #CE2323;
    color: #FFF;
}


/*blog post start*/
.content{
    position: relative;
    width:80%;
    margin: 60px auto; 
    background-color: #ccc;
}
.post {
     padding: 20px;
     max-width: 100%;
}
.post img{
    max-width:100%;
}
.post p{
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0;
}
.post .title{
    text-align: center;
}
.post code{
    border-radius: 6px;
    padding: 1px 5px;
    margin: 0 3px;
    font-family: "consolas", 'Heiti SC', sans-serif;
}
.post .post-date{
    text-align: right;
}

.post-comment{
    width:90%;
    margin: 0px auto;
}
.post-comment span{
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 5px solid #CE2323;
}
/*blog post end*/

/*blog end*/


/* header start */
.header{
    display: block;
    padding: 4% 6%;
}
.logo{
    float:left;
}
.cssmenu {
    float: right;
    margin-top: 1%;
}
.cssmenu > ul > li {
    display:inline-block;
    position: relative;
}
.cssmenu > ul > li > a {
    font-weight:bold;
    color: #555555;
    display: block;
    font-size: 1em;
    line-height: 1.8em;
    padding: 12px 12px;
    margin-right: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cssmenu > ul > li > a:hover {
    background-color:#FF61A0;
    color: #ffffff;
}
.top-nav{
    display: none;
}
.nav_bg{
    background: #464646;
}
.clearfix {
    height: 40px;
    width: 100%;
    font-size: 11pt;
    font-weight: bold;
    position: relative;
    z-index: 9999;
}
.clearfix ul {
    padding: 0;
    margin: 0 auto;
    display: none;
    background: #f0f0f0;
}
.clearfix li {
    display: block;
}
.clearfix a {
    color: #555555;
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    width:100%;
    text-indent: 10px;
    text-align: left;
    text-decoration: none;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.clearfix li a {
    border-bottom: 1px solid rgba(90, 85, 73, 0.17);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.clearfix li:last-child a {
    border-right: 0;
}
.clearfix a:hover,.clearfix a:active {
    background: #424242;
    color:#ffffff;
}
.clearfix a#pull {
    font-size: 20px;
    display: block;
    width: 100%;
    position: relative;
    text-shadow: 0 1px 0 #181717;
    color: #FFFFFF;
    background-color: #FF61A0;
}
.clearfix a#pull:after {
    background:url('../../images/nav-icon.png')no-repeat;
    width: 30px;
    content:"";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
}
/* header end */

/*
    index&post
    article
*/



/* paginator */
.paginator{
    text-align: center;
    padding:20px 0;
    border-top: 1px solid #fff;
}
.paginator a{
    margin: 0 15px;
    font-weight: 600;
    color:#9d6212!important;
}
.paginator a:hover{
    color:#9d6212!important;
}




/*footer */
footer{
  width:100%;
  height: 100%;
  display: block;
  padding: 2px 0;
  color:#fff;
}
.footer-container{
    width:50%;
    margin: 0 auto;
    text-align: center;
}

/*highlight*/
.hljs {
    width: 96%; 

    font-size: 1em;
    line-height: 20px;
    font-family: 'Consolas', 'Lucida Grande', arial, sans-serif;
    padding: 20px;

    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #8B5F65;
    background-color: #EAEAEA;

    white-space: pre-wrap; 
    word-wrap:break-word; 
    word-break:break-all;

}


/*comment*/
.post-comment{
    margin: 20px;
}
.post-comment span{
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 5px solid #CE2323;
}

/* 回到顶部 */
 #returnTop {
    position: fixed;
    right: 40px;
    bottom: -200px;
    width:28px;
    height:64px;
    color: #FFF;

    background-image: url(../../images/top.png);
    _background-image: url(../../images/top.png);

    overflow:hidden;
    background-repeat:no-repeat;
    background-position:0 0;
    transition:bottom 0.9s;
    -webkit-transition:bottom 0.9s;
    -moz-transition:bottom 0.9s;
    -o-transition:bottom 0.9s;

    cursor: pointer;
}

#returnTop:hover {
    background-position:-28px 0px;
}

/* 文章目录 */
#markdown-toc{
    display: none;
}
.catalog-menu{
    margin-top: 40px;
    min-width: 240px;
    display: inline-block;
    border-radius: 6px;
    background: #ccc;
    box-shadow: 0 2px 5px #666;
    color: #333;
}
.catalog-menu .catalog-menu-content{
    padding: 10px 0; 
}
.catalog-menu ul{
    padding:0px;
    margin:0px;
}
.catalog-menu ul li{
    text-indent: 2em;
}
.catalog-menu a{
    color:#104954;
}
.catalog-menu a:visited{
    color:#104954;
}
.catalog-menu ul li ul{
    display: none;
}


/* Pagination */
.pagination{
    margin-top: 20px;
}
.pagination li{
    list-style: none;
    margin-left: 0px;
}
.pagination:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    clear: both;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.pagination a {
    padding: 10px 20px;
    margin: 0px;
    border-radius: 4px;
    background: #CE2323;
    line-height: 40px;
    font-family: 'Open Sans', 'Heiti SC', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.pagination a:hover {
    background: #fff;
    color: #ce2323;
}



@media only screen and (max-width: 1280px) {
    .wrap{
        width:95%;
    }
    .home{
        position: relative;
    }
}
@media only screen and (max-width: 1024px) {
    .wrap{
        width:95%;
    }
    .logo{
        width: 30%;
        float:left;
    }
    .cssmenu{
        margin-top: 24px;
    }
    .cssmenu > ul > li > a {
        font-size: 14px;
        line-height: 1.6em;
        padding: 14px 12px;
    }
    .cate-content{
        width: 95%;
    }
    .cate-posts{
        width: 100%;
    }
    .category{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .wrap{
        width:95%;
    }

    .logo{
        text-align:center;
        float:none;
        width:100%;
        margin-bottom: 4%;
    }
    .cssmenu {
        display: none;
    }
    .top-nav{
        display:block;
    }
    .home{
        margin: 0px auto;
    }
    .cate-content{
        margin-top: 0px;
    }
    .cate-posts{
         margin-top: 0px;
    }
    .content{
        width:90%;
        margin: 0px auto; 
    }
}