<!--HEADER-->
<header class="top-header">
    <div class="container">
        <a href="#nav" class="open toggle-btn"><i class="icon-reorder"></i></a>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/" class="active">Home</a></li>
                    
                <li><a href="{{ site.baseurl }}/">Resume</a></li>
                    
                <li><a href="https://github.com/limingyang2012" >GitHub</a></li>
                    
                <li><a href="{{ site.baseurl }}/" >Demo</a></li>
            </ul>
            <a href="#top" class="close toggle-btn"><i class="icon-remove-sign"></i></a>
        </nav>
    </div>
</header>  