<!--HEADER-->
<header class="top-header">
    <div class="header-container">
        <div class="phone-info">
            <p>Call Me: <span>18767100969</span></p>
        </div>
        <div class="more-info">
            <div>
                <ul>
                    <li><a href="{{ site.baseurl }}/" class="fa fa-home">&nbsp;<span>Home</span></a></li>
                    
                    <li><a href="{{ site.baseurl }}/" class="fa fa-book">&nbsp;<span>Resume</span></a></li>
                    
                    <li><a href="https://github.com/limingyang2012" class="fa fa-github">&nbsp;<span>GitHub</span></a></li>
                    
                    <li><a href="{{ site.baseurl }}/" class="fa fa-list">&nbsp;<span>Demo</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>  