<!--HEADER-->
<div class="header">
    <div class="logo"> <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.png" alt=""></a> </div>
    <div class="cssmenu">
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>       
            <li><a href="/blog/">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="top-nav">
        <nav class="clearfix">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Demo</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        <a href="#" id="pull">Menu</a> 
        </nav>
    </div>
</div>